/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    border: 0;
}

*:focus {
    border-color: transparent;
    outline-color: transparent;
}


img {
	vertical-align: top;
}

